<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    
    <title>TechBlog</title>
</head>
<body>
  <div class = "flex-column justify-space-around">
    <main class="container container-fluid mt-5">
      {{{ body }}} 

    <!-- all handlebars displayed inside of the body of main, including navigation, header ie if a user logs in then it displays a X, etc 
    when rendering another page you have to use the htmlRoute
    -->
   </main>
  </div>
</body>
</html>