<div class="card">
  <h3 class="card-header">Sign Up</h3>
  <form id="signup-form" class="card-body">
    <label class="form-label" for="name-signup">Name</label>
    <input
      id="name-signup"
      type="text"
      autofocus="true"
      class="form-input"
    />
  <label class="form-label" for="username-signup">Email</label>
    <input
      id="username-signup"
      type="text"
      autofocus="true"
      class="form-input"
    />

    <label class="form-label" for="password-signup">Password</label>
    <input
      id="password-signup"
      type="password"
      autofocus="true"
      class="form-input"
    />

    <button type="submit" class="btn">Sign Up</button>
    <a class="signup-link" href="/login">Login</a>
  </form>
</div>

<script src="/js/signup.js"></script>